<% if flash[:notice] %>
  <div class="alert alert-info" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>
<table class="table table-bordered table-hover">
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
         <td><%= link_to "Show category products", category,
          class: "btn btn-default"
        %></td>
        <td><%= link_to "Edit", edit_category_path(category),
          class: "btn btn-default"
        %></td>
        <td><%= button_to "Remove", category, method: :delete,
          class: "btn btn-danger", data: {
            confirm: "Remove #{category.name}?"}
        %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_to "New category", new_category_path, class: "btn btn-primary",
  method: :get
%>
