<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
         <td><%= link_to "Show category products", category,
          class: "btn btn-default"
        %></td>
        <td><%= button_to "Edit", edit_category_path(category),
          class: "btn btn-default"
        %></td>
        <td><%= button_to "Remove", category, method: :delete,
          class: "btn btn-danger", data: {
            confirm: "Remove #{category.name}?"}
        %></td>
      </tr>
    <% end %>
  </tbody>
</table>
