<% @product.errors.full_messages.each do |message| %>
  <div class="alert alert-danger" role="alert">
    <%= message %>
  </div>
<% end %>
<%= form_for @product do |form| %>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, class:"form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
          <%= form.label :description %>
          <%= form.text_area :description, class:"form-control", rows: 4 %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <div class="form-group">
          <%= form.label :category %>
          <%= form.collection_select :category_id, @categories, :id, :name, {}, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <div class="form-group">
          <%= form.label :price %>
          <%= form.number_field :price, class:"form-control", step:0.01 %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <div class="form-group">
          <%= form.label :amount %>
          <%= form.number_field :amount, class:"form-control" %>
      </div>
    </div>
  </div>
  <%= form.submit button_name, class:"btn btn-primary" %>
<% end %>
