<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= "US$ #{product.price}" %></td>
        <td><%= product.amount %></td>
        <td><%= button_to "Remove", product, method: :delete,
          class: "btn btn-danger", data: {
            confirm: "Remove #{product.name}?"}
        %></td>
      </tr>
    <% end %>
  </tbody>
</table>
