<!DOCTYPE html>
<html>
  <head>
    <title>TechStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= nav_bar brand: "Products", brand_link: root_url do  %>
        <%= menu_group do %>
          <%= menu_item "New product", new_product_path %>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
